<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gu.Wpf.Adorners" version="2.1.1" targetFramework="net47" />
  <package id="MaterialDesignColors" version="2.0.0" targetFramework="net47" />
  <package id="MaterialDesignThemes" version="4.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net47" />
  <package id="MyToolkit" version="2.5.16" targetFramework="net47" />
  <package id="TwitchLib.Client" version="3.2.1" targetFramework="net47" />
  <package id="TwitchLib.Client.Enums" version="3.2.1" targetFramework="net47" />
  <package id="TwitchLib.Client.Models" version="3.2.1" targetFramework="net47" />
  <package id="TwitchLib.Communication" version="1.0.3" targetFramework="net47" />
</packages>